<nav>
  <ul class="navbar" id="menu">
    <li class="navbar"><a href="/"><button>home</button></a></li>
    <li class="navbar scales-nav-item"><a href="/scales/ENJOY!"><button>scales</button></a></li>
    <li class="navbar"><a href="/download"><button>download</button></a></li>
    <li class="navbar"><a href="/faq"><button>faq</button></a></li>
  </ul>
</nav>