<h1>Cookies Policy</h1>

<p style="font-size: 18px;"><strong>The Cookies We Set On This Site:</strong></p>

<ul style="margin-top: 0; margin-bottom: 10px; padding-left: 10px;">
  <li style="margin-top: 0;">
    <p style="margin: 0; padding: 0;"><b>Modals read/accepted:</b></p>
    <p style="margin: 0; padding: 0;">The only data that is stored in your browser is information concerning whether you
      have opened/read modals such as this one. For example, as soon as you click the "got it" button at the bottom of
      the cookies notification pop-up, a little snippet of data is stored in your browser that tells the code not to
      show the message again when you visit the page next time. There's a couple other pop-ups (such as the modals on
      the downloads page) which have a similar cookie that gets stored. If you disable cookies on this site, you will
      have to re-read these modals each time you visit the site.</p>
  </li>
</ul>

<p style="font-size: 18px;"><strong>What Are Cookies</strong></p>
<p>Cookies are tiny files that are downloaded to your computer, to improve your experience while surfing the web. The
  use of cookies are common practice with most frequented website in the world using some form of local storage to
  improve user experience.</p>
<p>For more general information on cookies see this <a href="https://en.wikipedia.org/wiki/HTTP_cookie">Wikipedia
    article on HTTP Cookies</a>.</p>

<p style="font-size: 18px;"><strong>Disabling Cookies</strong></p>
<p>You can prevent the setting of cookies by adjusting the settings in your browser (see your browser's Help section for
  how to do this). Be aware that disabling cookies will affect the functionality of this website (and most other sites
  that you visit, as well). Therefore, it is recommended that you do not disable cookies.</p>

<a rel="modal:close"><button
    style="position: relative; left: 50%; transform: translateX(-50%); font-size: 24px; font-weight: 700; padding: 5px;"
    onclick="setCookieAccepted()">got it</button></a>

<style>
  div#cookies-modal h2 {
    font-size: 2.25rem;
  }

  div#cookies-modal h3 {
    font-size: 1.25rem;
  }

  div#cookies-modal #accept-tac {
    float: right;
    font-size: 2rem;
    height: 2.5rem;
    background-color: forestgreen;
  }

  div#cookies-modal #decline-tac {
    float: left;
    font-size: 2rem;
    height: 2.5rem;
    background-color: red;
  }

  div#cookies-modal p,
  div#cookies-modal a {
    font-size: .85rem;
  }

  div#cookies-modal ol {
    font-size: .85rem;
    margin-left: 0px;
  }

  div#cookies-modal li {
    font-size: .85rem;
    margin-left: 10px;
  }

  div#cookies-modal ol>li {
    margin-left: 10px;
  }
</style>