<!--BANK_A-->
<button class="padA13" onclick="play_note_058()">58(A&#x23;2)  </button>
<button class="padA14" onclick="play_note_059()">59(B_2)       </button>
<button class="padA15" onclick="play_note_062()">62(D_3)       </button>
<button class="padA16" onclick="play_note_063()">63(D&#x23;3)  </button>

<button class="padA09" onclick="play_note_047()">47(B_1)       </button>
<button class="padA10" onclick="play_note_050()">50(D_2)       </button>
<button class="padA11" onclick="play_note_051()">51(D&#x23;2)  </button>
<button class="padA12" onclick="play_note_057()">57(A_2)       </button>

<button class="padA05" onclick="play_note_038()">38(D_1)       </button>
<button class="padA06" onclick="play_note_039()">39(D&#x23;1)  </button>
<button class="padA07" onclick="play_note_045()">45(A_1)       </button>
<button class="padA08" onclick="play_note_046()">46(A&#x23;1)  </button>

<button class="padA01" onclick="play_note_027()">27(D&#x23;0)  </button>
<button class="padA02" onclick="play_note_033()">33(A_0)       </button>
<button class="padA03" onclick="play_note_034()">34(A&#x23;0)  </button>
<button class="padA04" onclick="play_note_035()">35(B_0)       </button>

<!--BANK_B-->
<button class="padB13" onclick="play_note_094()">94(A&#x23;5)  </button>
<button class="padB14" onclick="play_note_095()">95(B_5)       </button>
<button class="padB15" onclick="play_note_098()">98(D_6)       </button>
<button class="padB16" onclick="play_note_099()">99(D&#x23;6)  </button>

<button class="padB09" onclick="play_note_083()">83(B_4)       </button>
<button class="padB10" onclick="play_note_086()">86(D_5)       </button>
<button class="padB11" onclick="play_note_087()">87(D&#x23;5)  </button>
<button class="padB12" onclick="play_note_093()">93(A_5)       </button>

<button class="padB05" onclick="play_note_074()">74(D_4)       </button>
<button class="padB06" onclick="play_note_075()">75(D&#x23;4)  </button>
<button class="padB07" onclick="play_note_081()">81(A_4)       </button>
<button class="padB08" onclick="play_note_082()">82(A&#x23;4)  </button>

<button class="padB01" onclick="play_note_063()">63(D&#x23;3)  </button>
<button class="padB02" onclick="play_note_069()">69(A_3)       </button>
<button class="padB03" onclick="play_note_070()">70(A&#x23;3)  </button>
<button class="padB04" onclick="play_note_071()">71(B_3)       </button>

<!--BANK_C-->
<button class="padC13" onclick="play_note_119()">119(B_7)      </button>
<button class="padC14" onclick="play_note_118()">118(A&#x23;7) </button>
<button class="padC15" onclick="play_note_117()">117(A_7)      </button>
<button class="padC16" onclick="play_note_111()">111(D&#x23;7) </button>

<button class="padC09" onclick="play_note_119()">119(B_7)      </button>
<button class="padC10" onclick="play_note_122()">122(D_8)      </button>
<button class="padC11" onclick="play_note_123()">123(D&#x23;8) </button>
<button class="padC12" onclick="play_note_122()">122(D_8)      </button>

<button class="padC05" onclick="play_note_110()">110(D_7)      </button>
<button class="padC06" onclick="play_note_111()">111(D&#x23;7) </button>
<button class="padC07" onclick="play_note_117()">117(A_7)      </button>
<button class="padC08" onclick="play_note_118()">118(A&#x23;7) </button>

<button class="padC01" onclick="play_note_099()">99(D&#x23;6)  </button>
<button class="padC02" onclick="play_note_105()">105(A_6)      </button>
<button class="padC03" onclick="play_note_106()">106(A&#x23;6) </button>
<button class="padC04" onclick="play_note_107()">107(B_6)      </button>

<!--BANK_D-->
<button class="padD13" onclick="play_note_082()">82(A&#x23;4)  </button>
<button class="padD14" onclick="play_note_081()">81(A_4)       </button>
<button class="padD15" onclick="play_note_075()">75(D&#x23;4)  </button>
<button class="padD16" onclick="play_note_074()">74(D_4)       </button>

<button class="padD09" onclick="play_note_093()">93(A_5)       </button>
<button class="padD10" onclick="play_note_087()">87(D&#x23;5)  </button>
<button class="padD11" onclick="play_note_086()">86(D_5)       </button>
<button class="padD12" onclick="play_note_083()">83(B_4)       </button>

<button class="padD05" onclick="play_note_099()">99(D&#x23;6)  </button>
<button class="padD06" onclick="play_note_098()">98(D_6)       </button>
<button class="padD07" onclick="play_note_095()">95(B_5)       </button>
<button class="padD08" onclick="play_note_094()">94(A&#x23;5)  </button>

<button class="padD01" onclick="play_note_110()">110(D_7)      </button>
<button class="padD02" onclick="play_note_107()">107(B_6)      </button>
<button class="padD03" onclick="play_note_106()">106(A&#x23;6) </button>
<button class="padD04" onclick="play_note_105()">105(A_6)      </button>