<!--BANK_A-->
<button class="padA13" onclick="play_note_047()">47(B_1)       </button>
<button class="padA14" onclick="play_note_048()">48(C_2)       </button>
<button class="padA15" onclick="play_note_049()">49(C&#x23;2)  </button>
<button class="padA16" onclick="play_note_051()">51(D&#x23;2)  </button>

<button class="padA09" onclick="play_note_040()">40(E_1)       </button>
<button class="padA10" onclick="play_note_041()">41(F_1)       </button>
<button class="padA11" onclick="play_note_043()">43(G_1)       </button>
<button class="padA12" onclick="play_note_045()">45(A_1)       </button>

<button class="padA05" onclick="play_note_035()">35(B_0)       </button>
<button class="padA06" onclick="play_note_036()">36(C_1)       </button>
<button class="padA07" onclick="play_note_037()">37(C&#x23;1)  </button>
<button class="padA08" onclick="play_note_039()">39(D&#x23;1)  </button>

<button class="padA01" onclick="play_note_028()">28(E_0)       </button>
<button class="padA02" onclick="play_note_029()">29(F_0)       </button>
<button class="padA03" onclick="play_note_031()">31(G_0)       </button>
<button class="padA04" onclick="play_note_033()">33(A_0)       </button>

<!--BANK_B-->
<button class="padB13" onclick="play_note_071()">71(B_3)       </button>
<button class="padB14" onclick="play_note_072()">72(C_4)       </button>
<button class="padB15" onclick="play_note_073()">73(C&#x23;4)  </button>
<button class="padB16" onclick="play_note_075()">75(D&#x23;4)  </button>

<button class="padB09" onclick="play_note_064()">64(E_3)       </button>
<button class="padB10" onclick="play_note_065()">65(F_3)       </button>
<button class="padB11" onclick="play_note_067()">67(G_3)       </button>
<button class="padB12" onclick="play_note_069()">69(A_3)       </button>

<button class="padB05" onclick="play_note_059()">59(B_2)       </button>
<button class="padB06" onclick="play_note_060()">60(C_3)       </button>
<button class="padB07" onclick="play_note_061()">61(C&#x23;3)  </button>
<button class="padB08" onclick="play_note_063()">63(D&#x23;3)  </button>

<button class="padB01" onclick="play_note_052()">52(E_2)       </button>
<button class="padB02" onclick="play_note_053()">53(F_2)       </button>
<button class="padB03" onclick="play_note_055()">55(G_2)       </button>
<button class="padB04" onclick="play_note_057()">57(A_2)       </button>

<!--BANK_C-->
<button class="padC13" onclick="play_note_095()">95(B_5)       </button>
<button class="padC14" onclick="play_note_096()">96(C_6)       </button>
<button class="padC15" onclick="play_note_097()">97(C&#x23;6)  </button>
<button class="padC16" onclick="play_note_099()">99(D&#x23;6)  </button>

<button class="padC09" onclick="play_note_088()">88(E_5)       </button>
<button class="padC10" onclick="play_note_089()">89(F_5)       </button>
<button class="padC11" onclick="play_note_091()">91(G_5)       </button>
<button class="padC12" onclick="play_note_093()">93(A_5)       </button>

<button class="padC05" onclick="play_note_083()">83(B_4)       </button>
<button class="padC06" onclick="play_note_084()">84(C_5)       </button>
<button class="padC07" onclick="play_note_085()">85(C&#x23;5)  </button>
<button class="padC08" onclick="play_note_087()">87(D&#x23;5)  </button>

<button class="padC01" onclick="play_note_076()">76(E_4)       </button>
<button class="padC02" onclick="play_note_077()">77(F_4)       </button>
<button class="padC03" onclick="play_note_079()">79(G_4)       </button>
<button class="padC04" onclick="play_note_081()">81(A_4)       </button>

<!--BANK_D-->
<button class="padD13" onclick="play_note_119()">119(B_7)      </button>
<button class="padD14" onclick="play_note_120()">120(C_8)      </button>
<button class="padD15" onclick="play_note_121()">121(C&#x23;8) </button>
<button class="padD16" onclick="play_note_123()">123(D&#x23;8) </button>

<button class="padD09" onclick="play_note_112()">112(E_7)      </button>
<button class="padD10" onclick="play_note_113()">113(F_7)      </button>
<button class="padD11" onclick="play_note_115()">115(G_7)      </button>
<button class="padD12" onclick="play_note_117()">117(A_7)      </button>

<button class="padD05" onclick="play_note_107()">107(B_6)      </button>
<button class="padD06" onclick="play_note_108()">108(C_7)      </button>
<button class="padD07" onclick="play_note_109()">109(C&#x23;7) </button>
<button class="padD08" onclick="play_note_111()">111(D&#x23;7) </button>

<button class="padD01" onclick="play_note_100()">100(E_6)      </button>
<button class="padD02" onclick="play_note_101()">101(F_6)      </button>
<button class="padD03" onclick="play_note_103()">103(G_6)      </button>
<button class="padD04" onclick="play_note_105()">105(A_6)      </button>